fastapi
uvicorn[standard]
sqlmodel
aiofiles
requests
pytest
httpx
pytest-asyncio
python-dotenv
instagrapi
redis
rq
prometheus-client
cryptography
aioredis
json-logic
python-multipart
fastapi-limiter
starlette
